<header>
   <!-- Top nav bar (fixed) -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">

    <!-- Logo name that brings user back to homepage when clicked -->
    <a class="navbar-brand" href="/">Logo</a>

    <!-- Tabs on header that user can click -->
      <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home Page</a>
            <a class="nav-item nav-link" href="/">Menu</a>
            <a class="nav-item nav-link" href="/order/:id">My Order</a>
      </div>

      <!-- User can view their order by clicking Place Order -->
      <div class="place-order">
        <a class="nav-item-order nav-link" href="/order/:id">Place Order</a>
      </div>

  </nav>
</header>
