<header>
   <!-- Top nav bar (fixed) -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">

    <!-- Logo name that brings user back to homepage when clicked -->
    <!-- <a class="navbar-brand" href="/">Food To Go</a> -->
    <a class="navbar-brand" href="/">
      <img id="logo-gif" src="https://www.newschoolfreepress.com/wp-content/uploads/2017/05/Fork-adn-Knife_1.gif" alt="Logo" />
    </a>


    <!-- External Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Tabs on header that user can click -->
      <div class="navbar-nav">
            <a class="button" href="/"> <h2>Home Page</h2></a>
            <a class="button" href="/admin"><h2>Admin</h2></a>
            <a class="button" href="/orders/user/1"><h2>My Orders</h2></a>


      </div>

      <!-- User can view their order by clicking Place Order -->
      <div class="place-order">
        <a class="button" href="/orders/cart">
          <h2>Cart</h2>
        </a>
        <div class="cart-count">
          <i class="fas fa-shopping-cart"></i>
          <output name="counter" class="counter" id="counter" for="x">0</output>

        </div>
      </div>

  </nav>
</header>
