<header>
   <!-- Top nav bar (fixed) -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">

    <!-- Logo name that brings user back to homepage when clicked -->
    <!-- <a class="navbar-brand" href="/">Food To Go</a> -->
    <a class="navbar-brand" href="/">
      <img id="logo-gif" src="https://thumbs.gfycat.com/AcidicUnfoldedGoldenretriever-max-1mb.gif" alt="Logo" />
    </a>


    <!-- Tabs on header that user can click -->
      <div class="navbar-nav">
            <a class="nav-item nav-link" href="/"> <h2>Home Page</h2></a>
            <a class="nav-item nav-link" href="/"><h2>Menu</h2></a>
            <a class="nav-item nav-link" href="/order/:id"><h2>My Order</h2></a>
            <!-- <button type="submit" class="add-button">+</button> -->
      </div>

      <!-- User can view their order by clicking Place Order -->
      <div class="place-order">
        <a class="nav-item-order nav-link" href="/order/:id"><h2>Place Order</h2></a>
      </div>

  </nav>
</header>
