<header>
   <!-- Top nav bar (fixed) -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">

    <!-- Logo name that brings user back to homepage when clicked -->
    <!-- <a class="navbar-brand" href="/">Food To Go</a> -->
    <a class="navbar-brand" href="/">
      <img id="logo-gif" src="https://www.newschoolfreepress.com/wp-content/uploads/2017/05/Fork-adn-Knife_1.gif" alt="Logo" />
    </a>


    <!-- Tabs on header that user can click -->
      <div class="navbar-nav">
            <a class="button" href="/"> <h2>Home Page</h2></a>
            <a class="button" href="/"><h2>Menu</h2></a>
            <a class="button" href="/order/:id"><h2>My Order</h2></a>


      </div>

      <!-- User can view their order by clicking Place Order -->
      <div class="place-order">
        <a class="button" href="/orders/cart">
          <h2>Cart</h2>
        </a>
        <div class="cart-count">
          <i class="fas fa-shopping-cart"></i>
          <output name="counter" class="counter" id="counter" for="x">0</output>

        </div>
      </div>

  </nav>
</header>
