<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <input id="EJSData" value="<%= JSON.stringify(data) %>"/>
    <script id="EJSDataLoader">

            let ejsDataElm = document.getElementById("EJSData");
            let scElm = document.createElement("script");
            scElm.innerText = `const EJSData = ()=>{return ${ejsDataElm.value}}`;
            document.body.appendChild(scElm);
            //document.body.removeChild(document.getElementById("EJSData"));
            //document.body.removeChild(document.getElementById("EJSDataLoader"));

    </script>
</body>
</html>
