// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

/* Top nav bar (fixed) */
nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: #8a7039;
  color: #FFFFFF;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  // Logo Gif on top left corner
  #logo-gif {
    width: 120px;
    height: 120px;
  }

  .navbar-nav {
    display: contents;
  }

  // Cart Button
  .place-order {
    display: flex;
  }

  // Shopping Cart and Count - Top Right Corner of PAge
  .cart-count {
    display: flex;
    color: black;
    margin-right: 40px;
    font-size: 25px;
    margin-top: 2.75em;

  }

  // Buttons on Nav Bar
  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    margin-top: 3em;
    margin-right: 5em;
  }


}


main {
  width: 100%;
  margin: 2em 2em;
  margin-top: 130px;


  // SECTION 1
  .middle-page-wrapper {
    display: flex;
    // background-color: rgb(7, 41, 63);
    background: url('/images/menu00.jpeg');
  }

  // Middle section that contains Welcome to Homepage and How to Order
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  // Column for Welcome to Homepage and How to Order
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    margin: 1em 1em;
    flex: 1;
    flex-basis: 25%;
  }

  .welcome-to-homepage {
    background-color: rgb(0, 0, 0);
    opacity: 0.75;
    height: 200px;
    text-align: center;
    color: white;
  }

  .how-to-order {
    background-color: rgb(0, 0, 0);
    opacity: 0.75;
    height: 200px;
    text-align: center;
    color: white;
  }

  // SECTION 2
  .menu-page-wrapper {
    display: flex;
    // background-color: rgb(181, 204, 219);
    background: rgb(26, 27, 27);
    background: linear-gradient(
      227deg,
      rgb(26, 27, 27) 0%,
      rgb(26, 27, 27) 20%,
      rgb(26, 27, 27) 34%,
      rgb(26, 27, 27) 59%,
      rgba(163, 208, 219, 1) 74%,
      rgba(163, 208, 219, 1) 100%
    );
  }

  .menu {
    background-color:rgb(198, 222, 238);
    height: 500px;
    text-align: center;
    border-radius: 5%;
  }

  // Menu images on homepage
  .menu-image {
    width: 400px;
    height: 300px;
    margin-top: 5%;
  }

  // Menu images once ordered (orders_selected.ejs)
  .menu-image-ordered {
    width: 200px;
    height: 150px;
  }

  .menu-price-and-add {
    display: flex;
    justify-content: space-between;
    margin: 1em 3em;
    align-content: center;
  }

  .add-button {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background-color: rgb(236, 227, 215);
  }

  ul {
    text-align: left;
    margin-left: 3em;
  }

  // SECTION 3
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
  }

  .table-title {
    font-weight: bolder;
    background-color:  rgb(236, 227, 215);
  }

  .page-title {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
  }

  .detail-order-button {
    border-radius: 5%;
    background-color: rgb(236, 227, 215);
  }

  .page-title{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}


